/* ImageGallery.module.css */
.imageGallery {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ImageCard.module.css */
.imageCard {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}